<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mandala Biz</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    {{ user.username }} {{ user.first_name }} {{  user.last_name }}<br> <a href="/user/logout" > <button type="button" value="Logout" class="btn btn-danger" >Logout</button> </a>
    <hr>
    <h2>ERP Manager</h2>
<table>
    <tr>
        <td>
            <a href="/api/v1/erp/view/new"><button type="button" class="btn btn-success">Create ERP for new company</button></a>
        </td>
        <td>
            <a href="/api/v1/erp/view/list"><button type="button" class="btn btn-success" >List Registered ERPs</button></a>
        </td>
    </tr>
</table>

  {% block content %}
  
  {% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>