
{% extends 'dashboard.html' %}

{% block content %}
<br>
<div class="container" >
<h3>Registered ERP</h3>
<br>
<table id='table_erp_list' style="width:100%" border-collapse="collapse" class="table" > 
    <thead>
        <th scope="col" >
            Company
        </th>
        <th scope="col">
            Address
        </th>
        <th scope="col">
            State
        </th>

        <th scope="col">
            Status
        </th>

        <th scope="col">
            Action
        </th>
    </thead>

</table>
</div>

<script>
$(document).ready(function(){
    get_erps()
}) 

function get_erps(){
    var xhttp = new XMLHttpRequest();
    $.ajax ({
        type: 'GET',
        url: '/api/v1/erp/get',
        success: function(data){
            output(data['erps']);        
    }
    });
}
function output(data){
    data.forEach(erp => {
        var btn
        if (erp['state'] == "running"){
            btn = '<a href="/api/v1/erp/'+erp['id']+'/stop"><button type="button" class="btn btn-danger">Stop</button></a> <a href="http://'+erp['link']+'"><button type="button" class="btn btn-info">Open ERP</button></a>'
        }
        else if (erp['state'] == "created" || erp['state']=="paused" || erp['state']=="exited"){
            btn = '<a href="/api/v1/erp/'+erp['id']+'/start"><button type="button" class="btn btn-success">Start</button></a> <a href="/api/v1/erp/'+erp['id']+'/delete"><button type="button" class="btn btn-danger">Delete</button></a> '
        }
        else if (erp['state'] == "restarting" ){
            btn = '<a href="/api/v1/erp/'+erp['id']+'/start"><button type="button" class="btn btn-secondary">Waiting</button></a>'
        }
        $('#table_erp_list').append(
            '<tr><th scope="col">'+erp["company"]+'</td><td>'+erp["address"]+'</td><td>'+erp["state"]+'</td><td>'+erp["status"]+'</td><td>'+btn+'</td></tr>'
        )

    });
}


</script>

{% endblock %}