
{% extends 'dashboard.html' %}

{% block content %}
<div class="container" >
<h3>Add New ERP</h3>
<br>

<table width='50%' id='main-table'>
    <tr>
        <td>
            Company
        </td>
        <td>
            <input id='company' type="text">
        </td>
    </tr>

    <tr>
        <td>
            Address
        </td>
        <td>
            <input id='address' type="text">
        </td>
    </tr>
    <tr>
        <td> </td>
    </tr>
    <tr>
        <td colspan="2" >
            <button type="button" class="btn btn-success" onclick="create_container()">Create</button>
        </td>
    </tr>
</table>
<br>
<br>

<h3 id='loading-logo'  >Creating and seeding please wait . . . </h3>
<h3 id='error'>Error occored</h3>
</div>
<script>
$('#loading-logo').hide()
$('#error').hide()


function create_container(){
    data = {
        'company' : $('#company').val(),
        'address' : $('#address').val()
    }
    console.log(data)

    $('#main-table').hide()
    $('#loading-logo').show()
    $.ajax ({
        type: 'POST',
        url: '/api/v1/erp/new',
        data: JSON.stringify(data),
        success: function(data){
            if (data['status']){
                $('#loading-logo').hide()
                $('#main-table').show()
                location.replace('/api/v1/erp/view/list')
            }
            else{
                console.log(data)
                $('#main-table').show()
                $('#error').show()
                $('#loading-logo').hide()
            }
    }
    }); 
}

</script>

{% endblock %}