
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="jumbotron">
        Test
    </h1>

</div>

<button class="btn btn-success" onclick="login()" >Login</button>
<button class="btn btn-danger" onclick="test()" >Create</button>

<input id = 'del'>
<button class="btn btn-danger" onclick="del_f()" >Delete</button>

<script>
      
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('x-csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("x-csrftoken", csrftoken);
        }
    }
});

console.log(csrftoken)

function login(){
    var creds = {
            'username' : 'admin',
            'password' : 'pass'
        }
        $.ajax ({
            url:'/api/v1/user/',
            type: 'POST',
            data: JSON.stringify(creds),
            success: function(data){
                console.log(data)
            },
            error: function(data){
                console.log(data)
            }
        });
}


function test(){
    var creds = {
        'time_in_days' : 8,
        'number_in_erp' : 3,
        'price' : 25
    }
        $.ajax ({
            url:'/api/v1/buy/bundles',
            data : JSON.stringify(creds),
            type: 'POST',
            beforeSend: function(xhr) {
                xhr.setRequestHeader("x-csrftoken", getCookie("x-csrftoken"));
            },
            success: function(data){
                console.log(data)
            },
            error: function(data){
                console.log(data)
            }
        });
}


function del_f(){
        $.ajax ({
            url:'/api/v1/buy/bundles/'+$('#del').val(),
            type: 'DELETE',
            beforeSend: function(xhr) {
                xhr.setRequestHeader("x-csrftoken", getCookie("x-csrftoken"));
            },
            success: function(data){
                console.log(data)
            },
            error: function(data){
                console.log(data)
            }
        });
}

</script>

{% endblock %}